<div class="container-fluid">
    <div class="container rounded">
        <div class="card-quotes">
          <p>"Jika kamu tidak mencoba, kamu tidak akan tahu apa yang bisa kamu capai."</p>
          <button type="button" class="btn btn-primary m-1"><i class="fa-sharp fa-solid fa-thumbs-up"></i> Like</button>
        </div>
        <div class="card-quotes">
          <p>"Jika kamu tidak mencoba, kamu tidak akan tahu apa yang bisa kamu capai."</p>
          <button type="button" class="btn btn-primary m-1"><i class="fa-sharp fa-solid fa-thumbs-up"></i> Like</button>
        </div>
        <div class="card-quotes">
          <p>"Jika kamu tidak mencoba, kamu tidak akan tahu apa yang bisa kamu capai Jika kamu tidak mencoba, kamu tidak akan tahu apa yang bisa kamu capai."</p>
          <button type="button" class="btn btn-primary m-1"><i class="fa-sharp fa-solid fa-thumbs-up"></i> Like</button>
        </div>
        <div class="card-quotes">
          <p>"Jika kamu tidak mencoba, kamu tidak akan tahu apa yang bisa kamu capai."</p>
          <button type="button" class="btn btn-primary m-1"><i class="fa-sharp fa-solid fa-thumbs-up"></i> Like</button>
        </div>
    
          <div class="pagination">
            <button  type="button" class="btn btn-primary m-1">Sebelumnya</button>
            <button  type="button" class="btn btn-primary m-1">..</button>
            <button  type="button" class="btn btn-primary m-1">selanjutnya</button>
          </div>
    </div>
</div>
