<div class="container-fluid">
  <div class="container">
    <form >
      <div class="col-auto m-1">
        <input
          type="text"
          placeholder="Temukan kata-kata mutiara . . . ."
          class="form-control"
          id="exampleInputUsername1"
          aria-describedby="emailHelp"
          
        />
      </div>
      <div class="col-auto m-1">
        <button type="submit" class="btn btn-primary mb-3"><i class="fa-solid fa-magnifying-glass"></i> Cari</button>
      </div>
    </form>
  </div>
</div>
